.login-box-layout1 .login-form select.main-select-option {
	height: 50px;
	border-radius: 0;
	border: none;
	margin-bottom: 20px;
	color: #111111;
	font-weight: 500;
	font-size: 15px;
	width: 100%;
	padding: 5px 15px;
}